@font-face {
  font-family: Gooper-LightItalic;
  src: url('../data/fonts/Gooper-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Gooper-BoldItalic;
  src: url('../data/fonts/Gooper-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: AgeoTrialMedium;
  src: url('../data/fonts/AgeoTrialMedium.ttf') format('truetype');
}

@font-face {
  font-family: Gooper-Regular;
  src: url('../data/fonts/Gooper-Regular.ttf') format('truetype');
}

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 1vw;
  line-height: 1;
  background: whitesmoke;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  min-height: 100vh;
}

.navbar {
  z-index: 100;
  background: whitesmoke;
  margin: 0 auto;
  font-size: 1.25vw;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  padding: 2em 2em 3em;
  display: flex; /* Added for title and icon layout */
  justify-content: space-between; /* Added for title and icon layout */
  align-items: center; /* Added for title and icon layout */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}


.navbar-title {
  font-family: Gooper-LightItalic;
  font-size: 1.5em; /* Adjust font size */
}

.navbar-icon {
  /* Adjust icon size and styling as needed */
  z-index: 50;
  fill: currentColor; /* Inherit navbar text color */
  opacity: 1; /* Initially hidden */
  margin-left: auto;
}

.navbar-icon svg {
  margin-top: .1em;
  opacity: 1; /* Initially hidden */
  width: 20px;
  height: 20px;
  /* animation: fadeInOut 0.6s ease-in-out; /* Apply animation */
}

.navbar-icon.active { /* Icon after click */
  animation: fadeInOut 0.6s ease-in-out forwards; /* Apply animation */
}
.navbar-icon:not(.active) { /* Icon after click */
  animation: fadeInOutRemove 0.6s ease-in-out backwards; /* Apply animation */
}

.navbar-icon.page-load {
  animation: none;
  animation-play-state: paused;
}

@keyframes fadeInOut {
  0% {
    opacity: 1; /* Start with full opacity */
  }
  50% {
    opacity: 0; /* Fade out at the middle of the animation */
  }
  100% {
    opacity: 1; /* Fade back in to full opacity */
  }
}
@keyframes fadeInOutRemove {
  0% {
    opacity: 1; /* Start with full opacity */
  }
  50% {
    opacity: 0; /* Fade out at the middle of the animation */
  }
  100% {
    opacity: 1; /* Fade back in to full opacity */
  }
}

.navbar-content {
  position: fixed;
  will-change: transform;
  display: inline-block; /* Initially hidden */
  transform: translate3d(0px, -100%, 0px); /* Initially translated off-screen */
  transform-style: preserve-3d; /* Preserve 3D context */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 1;
  background: whitesmoke;
}

.navbar-content.active {
  transform: translate3d(0px, 0px, 0px); /* Slide down to visible position */
}
.navbar-content:not(.active) {
  transform: translate3d(0px, -100%, 0px); /* Slide down to visible position */
}

.navbar-content.page-load {
  transform: translate3d(0px, -100%, 0px); /* Initial position off-screen */
}

.button-default {
  display: inline-block;
  font-family: Gooper-LightItalic;
  padding: 0.2em 0.5em;
  border: 1px solid black;
  border-radius: 100px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-default.selected {
  background-color: black;
  color: white;
}

.button-default:hover {
  background-color: black;
  color: white;
}

.social-container.mobile {
  width: 100%;
  opacity: 1;
  margin-top: 4em;
  margin-bottom: 0;
  font-size: 1.75vw;
  display: block;
}

.social-container img {
  width: 25px;
  margin-left: 1em;
  margin-right: 1em;
}

.navbar-desktop-menu-container {
  margin-left: 1em;
  margin-right: 1em;
  display: flex; /* Added for title and icon layout */
  justify-content: space-between; /* Added for title and icon layout */
}

.navbar-desktop-menu {
  font-family: Gooper-LightItalic;
  color: gray;
  font-size: 1.2em;
  margin-left: 3em;
  transition: transform 0.1s ease-in-out; /* Smooth transition */
  cursor: pointer;
}

.navbar-desktop-menu.selected {
  color: black;
  font-weight: 600;
}

.navbar-desktop-menu:hover {
  transform: skewX(18deg); /* Skew on hover */
  color: black;
}

.intro-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18em;
  padding-bottom: 8em;
}

.intro-text-container {
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6em;
  padding-right: 6em;
}

.title-container {
  margin-bottom: 8em;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 6em;
  padding-right: 6em;
}

h1 {
  margin-bottom: .25em;
  font-family: Athletics,sans-serif;
  font-size: 2.8em;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-family: Gooper-Regular;
  font-size: 2.8em;
  font-weight: 400;
  line-height: 1.2;
}

.work-selection {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8em;
  padding-left: 6em;
  padding-right: 6em;
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.content-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.content-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.content-center {
  justify-content: center;
  align-items: center;
  padding: 5em;
}

#agent-mtl-project {
  width: 45em;
}

#map-gazer-project {
  width: 60em;
  overflow: hidden;
}

#video-work-project {
  width: 65em;
}

#web-app-project {
  width: 65em;
}

#js-game-project {
  width: 30em;
}

#graphic-design-project {
  width: 80em;
}

#blender-project .image {
  width: 100%;
  height: calc(100% - 1%);
}

.content-wrapper {
  align-self: flex-end;
}

.media-container {
  position: relative;
  align-content: center;
  width: 45em;
  align-self: flex-end;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.image-animate {
  transition: opacity 1s ease-in-out;
}

.other-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-text {
  position: relative;
  display: flex; /* Added for title and icon layout */
  justify-content: flex-start; /* Added for title and icon layout */
  /* display: block; */ 
}

.content-text-block {
  margin-top: 0.5em;
  margin-right: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.text-centered {
  margin-top: 1em;
  text-align: center;
}

#button-view-all-work {
  margin-bottom: 2em;
  font-size: 6em;
  transition: transform 0.3s ease;
}

#button-view-all-work:hover {
  animation: rotateAnimation 0.5s ease-in-out forwards; /* Apply animation on hover */
}

#button-view-all-work:not(:hover) {
  transform: rotate(0deg);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  50% {
    transform: rotate(-5deg); /* Rotate clockwise by 10 degrees */
  }
  100% {
    transform: rotate(10deg); /* Rotate clockwise by 10 degrees */
  }
}

.buttom-social {
  display: flex;
  justify-content: center;
}

.buttom-social img {
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

#copyright-text {
  font-size: 1.5em;
  margin-bottom: 2em;
}

footer {
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* min-height: calc(100vh - 160em); */
}

.pill-container {
  position: absolute;
  top: 0.1em;
  right: 0;
  display: flex;
  justify-content: center;
  transform: rotate(0deg); /* Skew on hover */
  transition: transform 0.3s, right 0.6s ease-in-out;
}

.pill {
  width: 8px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, height 0.3s, margin-left 1s, margin-right 1s, border-radius 2s, transform 0.3s, background-color 0.6s ease-in-out; /* Smooth transition for width and padding */
  overflow: hidden; /* Hide overflowing content */
}

#pill-left {
  background-color: dimgrey;
  border-radius: 20px 0 0 20px; /* Adjust border-radius to shape the pill */
}

#pill-right {
  background-color: dimgrey;
  border-radius: 0 20px 20px 0; /* Adjust border-radius to shape the pill */
}

.pill-text {
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.6s, font-size 0.6s; /* Smooth transition for opacity */
  position: absolute;
  bottom: 0; /* Adjust as needed */
  text-align: center;
  width: 100%; /* Centered item spans the width of the container */
  z-index: -1;
  bottom: 50%; /* Adjust as needed */
  font-family: Gooper-Regular;
  color: black;
  transform: translateY(50%);
}

.content-wrapper:hover .pill {
  width: 30px;
  height: 30px;
}
.content-wrapper:hover #pill-left {
  background-color: goldenrod;
  margin-right: 40px;
  border-radius: 40px 40px 40px 40px; 
}
.content-wrapper:hover #pill-right {
  background-color: goldenrod;
  margin-left: 40px;
  border-radius: 40px 40px 40px 40px; 
}

.content-wrapper:hover .pill-text {
  opacity: 1; /* Show text on hover */
  font-size: 20pt;
}

.content-wrapper:hover .pill-container-special {
  transform: rotate(-23deg);
  right: -5em;
}

.silent-link {
  text-decoration: none;
  color: inherit;
}

/* scroll bar */

/* Define custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the scrollbar thumb on hover */
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 4em;
  }
  .navbar-title {
    font-size: 3em;
  }
  .navbar-content {
    padding-top: 10em;
    padding-bottom: 4em;
  }
  .button-default {
    border-width: 1px;
    margin: .2em .5em;
    padding: .2em 1em .3em;
    font-size: 3vw;
  }
  .social-container.mobile {
    margin-top: 1em;
  } 
  #copyright-text > span {
    font-size: 2em;
  }
  .text-centered > .footer {
    margin-top: 2em;
  }

  .pill {
    width: 5px;
    height: 9px;
  }

  #pill-left {
    border-radius: 10px 0 0 10px; /* Adjust border-radius to shape the pill */
  }

  #pill-right {
    border-radius: 0 10px 10px 0; /* Adjust border-radius to shape the pill */
  }
  .content-wrapper:hover .pill {
    width: 25px;
    height: 25px;
  }
  .content-wrapper:hover #pill-left {
    margin-right: 35px;
  }
  .content-wrapper:hover #pill-right {
    margin-left: 35px;
  }

  .content-wrapper:hover .pill-text {
    font-size: 17pt;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding: 4em;
  }
  .navbar-title {
    font-size: 5em;
  }
  .navbar-content {
    padding-top: 16em;
    padding-bottom: 7em;
  }
  .button-default {
    border-width: 1px;
    margin: 0.2em 2em;
    padding: .2em 1em .3em;
    font-size: 9vw;
  }
  #copyright-text > span {
    font-size: 3em;
  }
  .media-container {
    width: auto;
  }

  .content {
    margin-top: 4em;
  }

  .intro-text-container {
    padding: 0 1em 0 1em;
  }

  .work-selection {
    padding: 0 3em 0 3em;
  }

  .content-text {
    font-size: 2em;
  }

  .intro-section {
    padding-bottom: 2em;
  }
}

