<div class="footer-wrapper">
  <div class="buttom-social">
    <a href="mailto:contact@lucienfradet.com"><img src="/data/icons/email.svg" alt="Email Icon"></a>
    <a href="https://www.instagram.com/lucienfradet?igsh=MTJqbjIzOXFzdHIwaw=="><img src="/data/icons/instagram.svg" alt="Instagram Icon"></a>
    <a href="https://github.com/lucienfradet/"><img src="/data/icons/github_icon.svg" alt="Github icon"></a>
  </div>
  <div class="text-centered number-text" id="copyright-text"><span>&copy; 2024 Certains droits réservés - Lucien Cusson-Fradet</span></div>
</div>
