@font-face {
  font-family: Tan-Spring;
  src: url('../data/fonts/TAN-SPRING.otf') format('opentype');
}

body {
  position: relative;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(253 250 232 / 15%);
}

header {
  position: relative;
  z-index: -2;
  background-color: rgb(253 250 232 / 15%);
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.noise-wrapper {
  position: absolute;
  top: -100%;
  z-index: -1;
  width: 100%;
  height: calc(200%);
  box-shadow: rgb(50 50 93 / 20%) 0px 30px 60px -12px, rgb(0 0 0 / 28%) 0px 18px 36px -18px;
}

.noise {
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 50% 50%,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../data/images/noise.svg");
  filter: contrast(145%) brightness(1000%);
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .noise {
    filter: contrast(25%) brightness(1000%);
  }
}

.center {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  z-index: -2;
  bottom: 1em;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 50%;
}

#circle-1 {
  width: 35vw;
  height: 35vw;
  background: linear-gradient(to top, orchid 0%, rgb(253 250 232) 125%);
}

#circle-2 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(to top, orangered 0%, orchid 90%);
}

#circle-3 {
  width: 25vw;
  height: 25vw;
  background: linear-gradient(to top, orange 0%, orangered 90%);
}

h1 {
  font-family: Tan-Spring;
  font-size: 4vw;
  color: rgba(0,0,0,1.0);
  margin: 0;
}

.title-wrapper {
  position: relative;
  width: 85%;
}

.title-1 {
  font-size: 3vw;
  line-height: 1;
}

.title-2 {
  font-size: 6vw;
  line-height: 0.9;
}

.title-3 {
  font-size: 9vw;
  line-height: 0.9;
}

.section-title {
  text-decoration: underline;
}

h2 {
  font-size: 2.5vw;
  margin-bottom: 3ex;;
  color: black;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.content-wrapper {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
}

.side-to-side-container {
  display: flex;
}

.side-to-side {
  width: 50%; /* Each div takes up 50% of the container's width */
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.section-title {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

sup {
  font-size: smaller;
}

a.scroll-to {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

#reference-title {
  text-align: left;
  text-decoration: none;
  margin: 0 auto;
}

#references-wrapper {
  color: darkslategray;
  font-size: 11pt;
}

#vacant-img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  user-select: none;
}

.quote {
  margin-bottom: 0;
}

.quote-ref {
  margin-top: 0;
}

#footer-wrapper {
  background-color: rgb(253 250 232 / 15%);
  color: black;
  text-align: center;
  padding: 0.1em 0;
  width: 100%;
  box-shadow: 20px -15px 40px rgba(0, 0, 0, 0.3);
}

/* FOR PHONE SCREEN */
@media screen and (max-width: 875px) {
  main {
    margin: 0 20px; /* 25px horizontal margins */
  }
}


/* Background particles */
/* https://codepen.io/Johnm__/pen/qZqgGJ */

.fg-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.bg-wrapper {
  position: absolute;
  z-index: -1;
}

.white { 
  height: 100vh;
  &:before { 
    z-index: -1000;
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%) }
  &:after { 
    z-index: -1000;
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background-image: linear-gradient(0deg, #EBEBEB 0%, rgba(235,235,235,0.00) 100%) }}

.squares {
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden }
.square {
  animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  transform: translateY(100%);
  background: #ebebeb;  
  &:nth-child(2) { 
    height: 1.5em;  
    width: 3em;   
    animation-delay: 1s;
    animation-duration: 17s; 
    -webkit-filter: blur(5px) }
  &:nth-child(3) { 
    height: 2em;    
    width: 1em;   
    animation-delay: 1.5s;
    animation-duration: 8s; 
    -webkit-filter: blur() }
  &:nth-child(4) { 
    height: 1em;    
    width: 1.5em; 
    animation-delay: 0.5s;
    -webkit-filter: blur(3px);
    animation-duration: 13s }
  &:nth-child(5) { 
    height: 1.25em; 
    width: 2em;   
    animation-delay: 4s;
    -webkit-filter: blur(2px);
    animation-duration: 11s }
  &:nth-child(6) { 
    height: 2.5em;  
    width: 2em;   
    animation-delay: 2s;
    -webkit-filter: blur(1px);
    animation-duration: 9s }
  &:nth-child(7) { 
    height: 5em;    
    width: 2em;   
    -webkit-filter: blur(2.5px);
    animation-duration: 12s }
  &:nth-child(8) { 
    height: 1em;    
    width: 3em;   
    animation-delay: 5s;
    -webkit-filter: blur(6px);
    animation-duration: 18s }
  &:nth-child(9) {
    height: 1.5em; 
    width: 2em; 
    -webkit-filter: blur(0.5px);
    animation-duration: 9s }
  &:nth-child(9) {
    height: 3em;
    width: 2.4em;
    animation-delay: 6s;
    -webkit-filter: blur(0.5px);
    animation-duration: 12s }}

@keyframes squares { 
from { transform: translateY(100%) rotate(-50deg) }
to   { transform: translateY(calc(-100vh + -100%)) rotate(20deg) }}
